
/* hero */
.intro {
    @apply flex flex-col items-start space-y-4 w-full;
}
.pill {
    @apply transition-all duration-300 border border-input bg-background flex items-center text-xs px-2.5 py-1.5 rounded-full hover:-translate-y-1 hover:bg-primary hover:text-primary-foreground hover:shadow-lg hover:shadow-primary/20 hover:scale-105 cursor-default;
}
.intro h1 {
    @apply pt-2 leading-tight;
}

/* scroll down */
.scroll {
    @apply transition duration-200 absolute bottom-6 left-1/2 mb-8 hidden -translate-x-1/2 flex-col items-center text-sm text-slate-400 xl:flex tracking-tight;
}
.scroll--hidden {
    @apply opacity-0 transition duration-200;
}

/* projects */
.project-card {
    @apply p-14 bg-white/[1%] rounded-md;
}

/* animated gradient canvas */
#canvas-container
{
    @apply bg-gradient-to-br from-background via-background to-primary/5 border border-primary/10 rounded-2xl sm:rounded-3xl w-full overflow-hidden backdrop-blur-sm;

    /* this fixes the overflow:hidden in Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}